html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

.navigation {
    background-color: darkred;
}

.burger {
    color: white;
    font-size: x-large;
    text-align: center; 
    
}

.link {
    text-align: center;
    font-size: larger;
}

/*a = .link of above*/
a{
    color:white;
    text-decoration: none;
}

.gameHeader{
    display: flex;
    justify-content: center;
}

.gameDescription{
    display: flex;
    justify-content: center;
}
.gameImage{
    display: flex;
    justify-content: center; 
}

.gamePrice{
    display: flex;
    justify-content: center;
}

.addToCart{
   margin-left: 420px; 
}

.cart{
    display: none;
}

.shoppingCart {
    display: flex;
    justify-content: center;
}

